<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>5 en Linea - Xubio</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="room">
        <h1 id="title">5 en Linea</h1>

        <div id="form">
          <div class="newGame">
            <h4>Nuevo Juego</h4>
            <button id="new">Crear Partida</button>
          </div>

          <div class="joinGame">
            <h4>Conectarse</h4>
            <input
              type="text"
              name="room"
              id="room"
              placeholder="Ingresa el ID"
              required
            />
            <button id="join">Ingresar</button>
          </div>
        </div>
      </div>

      <div class="game">
        <h2 id="roomID"></h2>
        <h3 id="turn"></h3>
        <div class="table"></div>
        <div id="timer">Espera tu turno</div>
        <button id="return">Volver</button>
      </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script src="../js/player.js"></script>
    <script src="../js/game.js"></script>
    <script src="../js/room.js"></script>
  </body>
</html>
